@import '~@fluentui/react/dist/sass/References.scss';

.staffDirectory {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  background-color: "[theme: bodyStandoutBackground, default: #ffffff]";
  box-shadow: "[theme: elevation4, default: 0 0 8px -2px rgba(0,0,0,.2)]";
  border-radius: 4px;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.title {
  padding: 12px;
  text-align: center;
}

.search {
  display: flex;

  .searchBar {
    display: flex;
    flex-grow: 1;
    background-color: "[theme:neutralLighter, default: #f3f2f1]";
  }

  .dropdown {
    min-width: 240px;
    margin-left: 12px;
  }
}
