@import '~@fluentui/react/dist/sass/References.scss';

.staffDirectory {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.title {
  padding-bottom: 12px;
  text-align: center;
}

.search {
  display: flex;

  .searchBar {
    display: flex;
    flex-grow: 1;
  }

  .dropdown {
    min-width: 240px;
    margin-left: 12px;
  }
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}